/*
Authors: Breanna Greggs and Rebecca Bailey
Purpose: Create our custom css sheet in order to get the website looking how we want.
I organized it alphabetically and by classes and Id's separately
 */

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}

body {
    padding-top: 5rem;
    background-color: #191919;
}

/* -------------------------- CLASSES ---------------------------*/

/*
Class: about-template
Purpose: Becky;s messing around with the about layout.
 */
.about-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/*puts some space around the button for a more user friendly look*/
.button_space
{
    margin-bottom: 6px;
}

/*
Class: leftText
Purpose: this is to left align text in our tables*/
.leftText
{
    text-align: left;
}

/*
Class: Feed
Purpose: the feed class left aligns text, does not have bullets, and puts a bottom border to separate content
*/
.feed
{
    text-align: left;
    list-style: none; /*wanted no bullets but they wont align to the left all the way so i got mad and quit*/
    border-bottom: 2px solid white;
}

/*
Class: feed_side_space
Purpose: (currentevents page) makes up for taking the title out of the message box area
*/
.feed_side_space
{
    padding: 0px 1rem 0px 1rem;
}

/* footer styles to carry over on each page */
.footer-template {
    text-align: center;
    color: #FFFFFF;
    background-color: #343A40;
}

/*footer div styles */
.footerDivStyles{
    font-size: 25px;
    font-family: "Segoe Print";

}

.formRow label
{
    display: inline-block;
    width: 200px;
    font-weight: bold;
}

/* adds additional padding to bottom of form rows*/
.formRow
{
    padding-bottom: 10px;
}

/*Section on the body that contains our actual content*/
.index-template {
    padding: 3rem 1.5rem;
    text-align: center;
    color: white;
}

/*extend the width of the input boxes*/
.input_length {
    width: 100%;
}

/*
The space behind any text on the index template
 */
.message_box
{
    background: #03002f;
    margin-bottom: 1rem;
    border: 2px solid #0478D9;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px;
}

/*similar to message_box but eliminates extra space between title and context*/
.message_box_title
{
    background: #0478D9;
    margin-top: 1.5rem;
    color: white;
    border: 2px solid #0478D9;
    border-radius: 40px;
}

/*
Class: bg-navbar
Purpose: indicate the color fo the background of the navbar
also used to have the dropdown menus follow the same theme
 */
.navbar-tf-bg, .navbarDropDown{
    color: #FFFFFF;
    background-color: #343A40;
    font-size: 18px;
}

/* changes the color of the hovered text in the navbar
 a:hover affects the color of hovered links on each page so when changing one you change them all*/
.navbarHov:hover, a:hover{
    color: #BDD4FE;
}

/*
Class: pictures
Purpose: Indicates where our moving pictures will be going
*/
.picture
{
    margin-bottom: 1rem;
}

/*
will create a red ! mark to signal a required field
 */
.requiredFormInfo
{
    color: red;
    font-weight: bold;
}

/*
Class: evenRow
Purpose: alternate table rows get a color to allow for easier reading
 */
.rowEven
{
    background-color: #4e555b;
}

/*
Class: oddRow
Purpose: alternate table rows get a color to allow for easier reading
 */
.rowOdd
{
    background-color: #062c33;
}

/*This is to be used when things will need to be scrolled */
.scroll{
    height: 30rem;
    overflow-y: auto;
}

/*
Class: spacer
Purpose: Used to create a space between two div elements
 */
.spacer{
    margin: 0;
    padding: 0;
    height: 50px;
}

/*format for the suggestion items*/
.suggestion_item
{
    margin: 5px;
}

.table_format table, th, td
{
    border: 1px solid;
}
.table_format th
{
    background-color: #03002f;
}
.table_format th, td
{
    padding: 5px;
}

/*formating for both the tables and the detailforms of the tables*/
.table_format , .detailForm
{
    padding-bottom: 10px;
    padding-left: 10px;
}


/* ----------------------- ID'Ss -------------------------- */

/* sole purpose to help size the escape room photo for assign1 submission */
#escapeRoomPicInfo{
    height: auto;
    max-width: 100%;
}

/* copyright/author name special fonts and shit */
#footerCopyAuthor{
    text-align: center;
    font-size: 15px;
}

/* Used to resize the google map*/
#map{
    height: 400px;
    width: 100%;
}

/* used for styling the images to the left on the detail view */
#memberImage{
    float: left;
    padding-top: 50px;
    padding-left: 50px;
}

/* will be used to give the resource headers underlines since the
link code is being finnicky
 */
#resourceHeader h4{
    font-style: italic;
}